@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  color-scheme: dark !important;
}

html, body {
  background-color: #000000 !important;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius:10px;
}
